# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [15]:
def function_1_1(my_list, n): 
    return reduce(lambda x, y: x + y*(y<=n), [0] + my_list)

In [16]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [17]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [18]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [19]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [20]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [21]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [37]:
from collections import Counter
def function_1_2(my_list, dept):
    cnt = Counter()
    for name, money in my_list:
        cnt[name] += money
    return sorted(filter(lambda x: cnt[x]>dept, cnt))

In [38]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [39]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [40]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [41]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [42]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [43]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [44]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь функцией reduce или циклами

In [45]:
def function_2_1(n):
    return reduce(lambda x, y: x*y, range(1,n+1))

In [46]:
function_2_1(3) == 6

True

In [47]:
function_2_1(5) == 120

True

In [48]:
function_2_1(9) == 362880

True

In [49]:
function_2_1(13) == 6227020800

True

In [50]:
import math

for n in xrange(1, 21):
    print math.factorial(n) == function_2_1(n)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [18]:
def func_compare(list1,list2,func):
    if (func(list1) < func(list2)):
        return 'First'
    elif (func(list1) > func(list2)):
        return 'Second'
    else:
        return 'Equal'
    

def function_2_2(list1, list2):
    return (func_compare(list1,list2,lambda x:float(sum(x))/len(x)), 
            func_compare(list1,list2,min),
            func_compare(list1,list2,max))

In [21]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [22]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [23]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [24]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [43]:
def function_3_1(my_list, n, k):
    return sum(sorted(filter(lambda x: x <= n,my_list),reverse=True)[:k])

In [44]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [45]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [46]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [47]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [48]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [49]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [50]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [51]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [52]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [53]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [54]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [66]:
def function_3_2(n):
    return [
        k for k in range(2,n+1) if not reduce(lambda x,y: (k%y == 0) or x, [False]+range(2,k))
    ]

In [67]:
function_3_2(3) == [2, 3]

True

In [68]:
function_3_2(10) == [2, 3, 5, 7]

True

In [69]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

# Опциональная часть (выполнять по желанию, если интересно)

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [15]:
def function_4_1(my_set):
    subsets = [list(my_set)]
    d = [0]
    n = 0
    while len(subsets[n]) > 0:
        for i in range(d[n],len(subsets[n])):
            newsub = list(subsets[n])
            newsub.pop(i)
            subsets.append(newsub)
            d.append(i)
        n += 1
        
    return map(set, subsets + [])

In [16]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

In [17]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

True

In [18]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

True

In [19]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

True

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [35]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in xrange(2, n))

def function_4_2(n):
    return [
        ( k, [z for z in range(1,n/k+2) if (n % k**z == 0) and (n % k**(z+1) != 0) ][0] ) for k in range(2,n/2+1) if (is_prime(k) and n % k == 0)
    ]
print function_4_2(10)

[(2, 1), (5, 1)]

In [36]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [37]:
check_4_2(10, function_4_2(10))

True

In [38]:
check_4_2(11690, function_4_2(11690))

True

In [39]:
check_4_2(254242, function_4_2(254242))

True